In [1]:
import pandas as pd

In [2]:
def extracting_info():
    return pd.read_csv("ecommerce_customer_behavior_5000.csv")

extracting_info()

,order_id,customer_age,customer_gender,product_category,payment_method,order_value_usd,delivery_time_days,customer_rating,returned,order_date
0,1,37,Other,Home & Living,Wallet,1366.60,10,2.3,No,2022-01-01
1,2,41,Female,Fashion,Cash on Delivery,1175.89,6,1.8,Yes,2022-01-02
2,3,30,Other,Sports,Debit Card,1283.97,7,3.2,No,2022-01-03
3,4,58,Female,Electronics,Credit Card,1245.76,14,3.8,No,2022-01-04
4,5,59,Other,Fashion,Cash on Delivery,1411.06,7,3.2,No,2022-01-05
...,...,...,...,...,...,...,...,...,...,...
4995,4996,18,Female,Groceries,Credit Card,420.44,7,1.3,Yes,2035-09-05
4996,4997,19,Male,Sports,UPI,1389.97,2,1.2,Yes,2035-09-06
4997,4998,42,Male,Sports,Credit Card,845.66,4,1.3,Yes,2035-09-07
4998,4999,46,Other,Sports,Credit Card,1077.51,3,2.6,Yes,2035-09-08
4999,5000,60,Male,Sports,UPI,290.47,8,1.5,Yes,2035-09-09